<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entretenimento</title>
    <!-- Abaixo é o código para adicionar um ícone na página do site -->
    <!-- Usa apenas fotos em estilo fav.icon -->
    <link rel="shortcut icon" href="fav.png" type="image/x-icon">
</head>
<body style="background-color: #D8D8F6;">
    <!-- Cabeçalho ou Início do meu site--> 
    <header 
    style="display: flex;">    
        <!--Section Foto de perfil-->   
        <section>
            <img src="perfil2.jpg" alt="Imagem de Perfil" height="100px" width="100px">
        </section>
        <!--Section Informações Pessoais-->
        <section style="color: #5050a0;">
            <br> <br> <br>
            &nbsp;&nbsp;&nbsp;&nbsp; Edson Vieira | 19 Anos | @edstwg  <br>
            &nbsp;  &nbsp; &nbsp;vieiraedson828@gmail.com | Virgens
        </section>
    </header>
    <!--Navegação da minha   página-->
    <nav>
        <!--Tag <a href=""> refere-se ao link de navegação-->
        <hr>
            <div style="color: #ff0000;">
        <a href="mySite.html">Myself | </a>
        <a href="entretenimento.html">Entretenimento | </a>       
        <a href="musicas.html">Músicas | </a>
            </div>
        <hr>
    </nav>

    <!-- Seção de Entretenimento -->

    <article style="color: #5050a0;">
        <h2>Blade Runner 2049</h2>
        <h4> Curto: 10/10</h4>
        <p>
            <img src="bladerunner.jpg" alt="" height="50%" width="40%">
        </p>

        <p>
            <strong>Blade Runner:</strong> 
            O Caçador de Andróides (1982), a humanidade está novamente ameaçada,e dessa vez o perigo pode ser ainda maior. <br>
             Isso porque o novato oficial K desenterrou um terrível segredo que tem o potencial de mergulhar 
            a sociedade no completo caos. <br>
        </p>

        <p>
            Para conhecer mais : <a href="https://pt.wikipedia.org/wiki/Blade_Runner_2049">Clique Aqui</a>
        </p>
        
        <!--    Final do Primeiro -->

        <hr>

        <h2>Se7en - Os Sete Crimes Capitais</h2>
        <h4>Curto: 10/10</h4>
        
        <p>
            <img src="seven.jpg" alt="" height="50%" width="40%">
        </p>

        <p>
          <strong> Seven:</strong>  O filme conta a história de dois policias — o jovem e impetuoso David Mills (Brad Pitt), <br>
            que passou cinco anos na divisão de homicídios, e o maduro, <br>
            culto e prestes a reformar-se William "Smiley" Somerset (Morgan Freeman) <br>
            — que são encarregados de uma perigosa e intrigante investigação: um serial killer que baseia os seus assassinatos nos sete pecados capitais. <br>
        </p>

        <p>
            Para conhecer mais : <a href="https://pt.wikipedia.org/wiki/Seven_(1995_film)">Clique Aqui</a>
        </p>

        <hr>
        
        <!-- Final do Segundo -->

        <h2>Clube da Luta</h2>
        <h4>Curto: 10/10</h4>
        
        <p>
            <img src="fightclub.jpg" alt="" height="50%" width="40%">
        </p>

        <p>
            <strong>Clube da Luta:</strong>
                é um filme norte-americano de 1999 dirigido por David Fincher. <br>
                É baseado no romance homônimo de Chuck Palahniuk, publicado em 1996. <br>
                O filme é protagonizado por Brad Pitt, Edward Norton e Helena Bonham Carter. <br>
                Norton representa o protagonista anônimo, um "homem comum" que está descontente <br>
                com o seu trabalho de classe média na sociedade americana. <br>
                Ele forma um "clube de combate" com o vendedor de sabonetes Tyler Durden, representado por Brad Pitt, <br>
                e se envolve com uma mulher dissoluta, Marla Singer, representada por Helena Bonham Carter. <br>
        </p>

        <p>
            Para conhecer mais : <a href="https://pt.wikipedia.org/wiki/Fight_Club">Clique Aqui</a>
        </p>

        <hr>


        <!-- Final do Terceiro -->

        <h2>Jogador Nº 1</h2>
        <h4>Curto: 10/10</h4>

        <p>
            <img src="jogador1.jpg" alt="" height="50%" width="40%">
        </p>

        <p>
            <strong>Jogador Nº 1:</strong>No ano de 2045, Wade Watts, como a maior parte da humanidade, gasta seu tempo acordado no OASIS. <br>
            Ele funciona tanto como um MMORPG e como sociedade virtual, para fugir de sua realidade. <br>
            Como outros, Wade sonha em descobrir um Easter Egg escondido pelo criador do OASIS dentro de um dos milhares de mundos virtuais do game. <br>
            O falecido James Halliday estipulou em seu testamento que a pessoa que descobrir o Easter Egg vai herdar todos os seus bens, incluindo a gestão e controle do próprio OASIS, <br>
            um prêmio no valor de centenas de bilhões de dólares. <br>
        </p>

        <p>
            Para conhecer mais : <a href="https://pt.wikipedia.org/wiki/Ready_Player_One_(filme)">Clique Aqui</a>
        </p>

        <hr>


        <!-- Final do Quarto -->

        <h2>O Lobo de Wall Street</h2>
        <h4>Curto: 10/10</h4>
        
        <p>
            <img src="lobo.jpg" alt="" height="50%" width="40%">
        </p>

        <p>
            <strong>O Lobo de Wall Street:</strong>Em 1987, Jordan Belfort (Leonardo DiCaprio) torna-se um corretor de ações em uma empresa estabelecida em Wall Street. <br>
            Seu chefe, Mark Hanna (Matthew McConaughey) recomenda-lhe que adote um estilo de vida cheio de drogas e prostitutas, a fim de ter sucesso. <br>
            Ele passa no Exame Série 7 e ganha sua licença de corretor, e em seu primeiro dia como corretor, a empresa quebra após a segunda-feira negra. <br>
        </p>


        <p>
            Para conhecer mais : <a href="https://pt.wikipedia.org/wiki/O_Lobo_de_Wall_Street">Clique Aqui</a>
        </p>    

        <hr>
    </article>

    <footer style="color: #5050a0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
        By Edson Vieira &copy;
</body>
</html>