<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deixe sua mensagem</title>
</head>
    
<body style="background-color: rgba(36, 36, 36, 0.973);"> 

    <header style="display: flex;">    
        <!--Section Foto de perfil-->
        <section>
            <img src="perfil2.jpg" alt="Imagem de Perfil" height="100px" width="100px">
        </section>
        <!--Section Informações Pessoais-->
        <section style="color: #f4f0e6; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif  ;">
            <br> <br> <br>      
            &nbsp;&nbsp;&nbsp;&nbsp; Edson Vieira | 19 Anos | @edstwg  <br>
            &nbsp;  &nbsp; &nbsp;vieiraedson828@gmail.com | Virgens
        </section>
    </header>

    <!--Navegação da minha   página-->
    <nav>
        <!--Tag <a href=""> refere-se ao link de navegação-->
            <hr>
        <a href="mySite.html">Myself | </a>
        <a href="entretenimento.html">Entretenimento | </a>       
        <a href="musicas.html">Músicas | </a>
        <a href="contato.html">Fale Comigo</a>
            <hr>
    </nav>

    <article style="color: #9575de; font-family: Georgia, 'Times New Roman', Times, serif;">
        <label for="cNome">Nome:</label>
        <input type="text" name="nome" id="cNome" required size="50px"
        placeholder="Edson Vieira da Silva">
        <br>
        <br>
        <label for="email">E-mail:</label>
        <input type="email" name="email" id="email" size="50px" height="25" 
        placeholder="exemplo@exemplo.com"> 
        <br>
        <br>
        <label for="zap">Whatsapp:</label>
        <input type="text" name="zipzap" id="zap" 
        placeholder="(99)9 9999-9999">
        <br>
        <br>
        <label for="data">Data de Nasc:</label>
        <input type="text" name="date" id="data"
        placeholder="02/09/2003">
        <br>
        <p>Deixe sua mensagem:</p>
        <textarea name="" id="" cols="50" rows="15" placeholder="Deixe sua mensagem:"
        required></textarea>
        <br>
        <input type="submit" value="Enviar">
    </article>
    <br>
    <br>
    <br>
    <hr>
<footer style="color: #efefef;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
By Edson Vieira &copy;

</body>
</html>
