<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top 10 Músicas</title>
</head>
<body style="background-color: #1DB954;">
    <!-- Cabeçalho ou Início do meu site-->
    <header style="display: flex;">    
        <!--Section Foto de perfil-->
        <section>
            <img src="perfil2.jpg" alt="Imagem de Perfil" height="100px" width="100px">
        </section>
        <!--Section Informações Pessoais-->
        <section style="color: #121212;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        ">
            <br> <br> <br>
            &nbsp;&nbsp;&nbsp;&nbsp; Edson Vieira | 19 Anos | @edstwg  <br>
            &nbsp;  &nbsp; &nbsp;vieiraedson828@gmail.com | Virgens
        </section>
    </header>
    <!--Navegação da minha   página-->
    <nav style="background-color: #121212;">
        <!--Tag <a href=""> refere-se ao link de navegação-->
            <hr>
        <a href="mySite.html">Myself | </a>
        <a href="entretenimento.html">Entretenimento | </a>       
        <a href="musicas.html">Músicas | </a>
        <a href="contato.html">Fale Comigo</a>
            <hr>
    </nav>
    
    <!-- Aqui começa minha lista -->
    
    <main style="color: #212121;
    background-color: #b3b3b3;
    font-family: Georgia, 'Times New Roman', Times, serif;">
        <ol>
            <li>Cigarettes After Sex - Cry</li> 
            <li>Joji - Glimpse of Us</li>
            <li>Lil Peep - Star Shopping</li>
            <li>d4vd - Romantic Homicide</li>
            <li>Coldplay - Sparks</li>
            <li>Vacations - Young</li>
            <li>Mac DeMarco - Chamber of Reflection</li>
            <li>PARTYNEXTDOOR - Break from Toronto</li>
            <li>Akon - Lonely</li>
            <li>Tyler, The Creator - ARE WE STILL FRIENDS?</li>
        </ol>
    </main>

    <footer style="color: #6B3FA0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #121212;">
        By Edson Vieira &copy;
    </footer>
</body>
</html>